{{- /*  Initialize. */}}
{{- $members := slice }}
{{- $memberslugs := slice }}
{{- $team := partials.IncludeCached "data/team" page }}
{{- range .Params }}
  {{- $members = append (where $team "slug" "eq" .) $members }}
{{- end }}

<table>
    <thead>
        <th>Name</th>
        <th>Role</th>
    </thead>
    <tbody>
        {{- range $members }}
          <tr>
              <td><span style="white-space: nowrap;">{{ partial "member" . }}</span></td>
              <td>{{ .role | safe.HTML }}</td>
          </tr>
        {{- end }}
    </tbody>
</table>
