{{ $peopleBusinessPartners := partials.IncludeCached "data/people-business-partners" page }}
<table style="display: table;">
    <thead>
        <tr>
            <th style="width: 30%;">Contact</th>
            <th>Division - Department</th>
        </tr>
    </thead>
    <tbody>
        {{ range $peopleBusinessPartners }}
        <tr>
            <td>{{ partial "member-by-name" .name }}</td>
            <td>{{ .present }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
